.register{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    width: 100%;
    margin: 0;
    padding: 0;
}

.registerImg{
    flex:3;
    margin: 0;
    padding: 0;
}

.registerImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registerWrapper{
    margin: 0;padding: 0;
    flex:4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.signupTitle{
    
    position: absolute;
  top: 20%;
  left: 45%;
    font-size: 80px;
    font-weight: bolder;
    color: #A2B38B;
    text-shadow: 2px 2px 2px black;
}

.registerForm{
    position:absolute;
    top: 32%;
    left: 42%;
    width: 20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.registerForm > label{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: #A2B38B;
    text-shadow: 2px 2px 2px black
}

.registerInput{
    padding: 10px;
    background-color: #E4E9BE;
    border: black solid 2px;
    border-radius: 5px;
    color:#A2B38B ;
    font-size: 15px;
    
}

.registerButton{
    width: 60%;
    align-self: center;
    margin-top: 40px;
    margin-right: 50px;
    cursor: pointer;
    background-color:#A2B38B;
    border: black solid 1px;
    color: white;
    font-size: 25px;
     font-weight: 500;
}

.registerLoginButton{
    position: absolute;
    top: 430px;
    right: 145px;
    background-color: #A2B38B;
    cursor: pointer;
    border: none;
    padding: 5px;
    color: #E4E9BE;
    border-radius: 10px;
    border: black solid 1px;
}