.bg{
    background-color:#FAFDD6 ;
    margin: 0;
}
.loginImg{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.login{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    width: 100%;
}
.loginImg{
    flex:3;
    margin: 0;
    padding: 0;
}

.loginImg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    height: 101.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);

  }

.loginWrapper{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-size: cover;
    background-position: center;
}

.loginTitle{
  position: absolute;
  top: 20%;
  left: 45%;
    font-size: 80px;
    font-weight: bolder;
    color: #A2B38B;
    text-shadow: 2px 2px 2px black;
}

.loginForm{   
    position:absolute;
    top: 32%;
    left: 40%;
    width: 20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.loginForm > label{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: #A2B38B;
    text-shadow: black 1px 1px 1px;
}

.loginInput{
    padding: 10px;
    background-color: #E4E9BE;
    border: black 1px solid;
    border-radius: 5px;
    
}

.loginButton{
    width: 50%;
    align-self: center;
    margin-top: 40px;
    cursor: pointer;
    background-color: #A2B38B ;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.loginButton:disabled{
    cursor: not-allowed;
}

.loginRegisterButton{
    width: 50%;
    align-self: center;
    cursor: pointer;
    background-color:#A2B38B ;
    border: none;
 padding: 10px;
 border-radius: 10px;   
 margin-top: 0px;
 color: white;
 text-decoration: none;
}


