.footer{
    background-color: #A2B38B ;
     padding : 20px;
     padding-top: 2px;
}
.custom{

    margin-left: 40px;
    margin-top:10px ;
}
.social{
    margin-right: 70px;
    margin-top:10px ;
}
.media{
    margin-left: 10px;
    margin-right:10px ;
}
