
h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #000;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 20px;
}

form{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E4E9BE;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px;
    margin-top: 0;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

label{
    margin:20px;
}

input,textarea{
    margin-left: 50px;
}

.donateButton{
    width: 200px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    cursor: pointer;
}