.header{
    margin-top: 0px;
    height: calc(100vh - 60px);
    padding: 0;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: rgb(91, 140, 138);    
}

.headerTitleSm{
    position: absolute;
    top: 16%;
    font-size: 30px;
}

.headerTitleLg{
    position: absolute;
    top: 19%;
    font-size: 120px;
}

.headerImg{
    width: 100%;
    height: 80%;
    margin-top: 155px;
    object-fit: cover;
}